<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h2>Sign Up</h2>
    <form method="POST">
      {{ form.hidden_tag() }} {{ form.username.label }} {{ form.username() }}<br />
      {{ form.email.label }} {{ form.email() }}<br />
      {{ form.password.label }} {{ form.password() }}<br />
      {{ form.confirm_password.label }} {{ form.confirm_password() }}<br />
      {{ form.submit() }}
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
  </body>
</html>
